@import 'variables';
@import 'mixins';

.footer {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    @include media(md) {
      padding-bottom: 20px;
    }
    @include media(sm) {
      flex-direction: column;
    }
  }
  &__logo {
    text-align: center;
    padding-right: 42px;
    @include media(md) {
      padding-right: 0;
    }
  }
  &__mailto_link {
    color: $yellow;
    display: inline-block;
    margin: 10px 0;
    &:hover,
    &:focus {
      color: $white;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    margin-right: -15px;
    @include media(md) {
      margin-right: -10px;
    }
    @include media(sm) {
      margin-right: 0;
    }
  }
  &__social {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $gray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    @include media(md) {
      margin: 0 10px;
    }
    svg {
      fill: $yellow;
      transition: all 0.5s;
    }
    @include media(md) {
      width: 40px;
      height: 40px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
  &__social_etsy svg {
    width: 35px;
  }
  &__social_fb:hover svg {
    fill: #4a1fee;
  }
  &__social_insta:hover svg {
    fill: #c83462;
  }
  &__social_etsy:hover svg {
    fill: #f45800;
  }
}
